@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #8a9b68;
}

#innercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

h1 {
    color: #931f1d;
    margin: 20px;
}

#formie {
    position: relative;
    width: 400px;
    height: 50px;
    margin: 0 0 40px 0;
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    transition: all .5s;
    border: none;
}

#formie:hover {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);

}

form button {
    position: absolute;
    border: none;
    right: 0;
    width: 140px;
    height: 50px;
    border-radius: 0 15px 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all .5s;
    background-color: black;
    color: #d5ddbc;
}

form button:focus {
    outline: none;
}

form button:hover {
    cursor: pointer;
}

form input {
    border: none;
    position: absolute;
    left: 0;
    text-align: center;
    width: 260px;
    border-radius: 15px 0 0 15px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 50px;
    transition: all .5s;
    background-color: #d5ddbc;
}

form input:focus {
    background-color: #d5ddbc;
    color: #931f1d;
    outline: none;
}

#countryDiv {
    /*margin: 100px;*/
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
    align-items: center;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.5);
    transition: all .5s;
    background-color: #d5ddbc;
}

#countryDiv:hover {
    box-shadow: 10px 15px 60px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

#countryDiv img {
    width: 300px;
    box-shadow: 5px 1px 10px darkslategrey;
    margin: 0 0 20px;
}

#countryName {
    font-size: 40px;
    margin: 10px 0;
}

/*#countryDiv p {*/
/*    margin: 10px 0;*/
/*}*/