
#red {
    color: red;
}

#een {
    color: green;
}

#blue {
    color: blue;
}

#purple {
    color: purple;
}


#yellow {
    color: yellow;
}


/*li {*/
/*    width: 50px;*/
/*}*/

li img {
    width: 450px;
}


p {
    color: black;
}